.Appbar{
    background-color: #1C1C21;
    color: white;
    padding: 16px;
}
.Contenerdor{
    display:flex; 
    justify-content: space-between;
    align-items: center;
}
.content-title{
    display: flex;
    align-items: center;
}

.content-icons{
    display: flex;
    align-items: center;
}

.icon{
    font-size: 34px;
    padding: 10px;
}